body {
    background-image: url('../imagens/motor_modelos.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-container {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 30px;
    text-align: center;
}

.cadastro_column1 {
    float: left;
    justify-content: space-between;
    display: flex;
    margin: 0 2%;
}

.cadastro_column2 {
    float: left;
    justify-content: space-between;
    display: flex;
    margin: 0 2%;
}

.cadastro_column3 {
    float: left;
    justify-content: space-between;
    display: flex;
    margin: 0 2%;
}

.cadastro-container h2 {
    margin: 0;
    color: #333;
}

.cadastro-container input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
}

.cadastro-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}