body {
    background-image: url('../imagens/motor_modelos.jpeg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .login-container h2 {
    margin: 0;
    color: #333;
  }
  
  .login-container input {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .login-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }